name: Update
on:
  repository_dispatch:
    types: [add]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: node update.js
      - run: |
          git config user.name bot
          git config user.email bot@site
          git add index.html
          git commit -m "ürün eklendi"
          git push
