name: Update

on:
  repository_dispatch:
    types: [add]

permissions:
  contents: write

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update index
        run: node update.js

      - name: Commit & Push
        run: |
          git config user.name "mete-bot"
          git config user.email "mete-bot@users.noreply.github.com"
          git add index.html
          git status
          git commit -m "ürün eklendi" || echo "No changes to commit"
          git push
